.chat{
  display: flex;
  width: 70%;
  height: 80%;
  -webkit-box-shadow: -1px -1px 32px -4px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: -1px -1px 32px -4px rgba(0, 0, 0, 0.64);
  box-shadow: -1px -1px 32px -4px rgba(0, 0, 0, 0.64);
  padding: 0;
  border: 1px solid #2b2e36;
  border-radius: 5px;
  position: absolute;
  left: 15%;
  top: 10%;
  /*hide scrollbar in IE*/
  -ms-overflow-style:none;
  /*hide scrollbar in firwfox*/
  overflow-y:-moz-scrollbars-none;
}
.contentBox{
    width: 100%;
    background-color: antiquewhite;
}
.header button:focus{
    outline: 0;
}
.header button:hover{
  color: white;
}
.contentBox .header {
  width: 100%;
  height: 15%;
  background-color: #2b2e36;
  color: white;
  font-style: italic;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  border-bottom:1px solid grey;
}
.header .current-chatter {
    width: 95%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentBox .chat-window {
    width: 100%;
    height: 85%;
    background-color: #3e414a;
    padding-top: 2%;
    overflow-y: scroll;
}
.chat-window .system-message{
    width: 100%;
    margin-bottom: 2%;
    height: auto;
    text-align:  center;
    color: grey;
    font-size: 70%;
}
/* 滚动条 */
.chat-window::-webkit-scrollbar {
    width: 10px;
  }
  
.chat-window::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(100, 100, 100, 0.7);
}
.chat-window .left-box{
    width: 70%;
    margin-bottom: 2%;
    padding: 0 15px;
    height: auto;
    float: left;
}
.left-box .left-time{
    color: grey;
    font-size: 80%;
    /* margin-left:52px ; */
    margin-left:70px ;
}
.chat-window .left-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    float: left;
    position: relative;
}
.left-wrapper .left-avatar{
    width: 42px;
    height: 42px;
    margin-right: 10px;
}
.left-avatar img {
    width: 100%;
    height: 100%;
    float: right;
  }
.left-wrapper .left-message {
    width: auto;
    max-width: 80%;
    margin-left: 0%;
    min-height: 42px;
    line-height: 35px;
    height: auto;
    padding: 0 15px;
    background: rgb(78, 206, 223);
    border: 2px solid black;
    -webkit-box-shadow: -1px -1px 32px -4px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: -1px -1px 32px -4px rgba(0, 0, 0, 0.64);
    box-shadow: -1px -1px 32px -4px rgba(0, 0, 0, 0.64);
}
.chat-window .right-box{
    width: 70%;
    height: auto;
    margin-bottom: 2%;
    padding: 0 15px;
    float: right;
}
.right-box .right-time{
    color: gray;
    font-size: 80%;
    text-align: end;
    margin-right: 80px;
}
.chat-window .right-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 2%;
    display: flex;
    float: right;
    /* position: relative;
    left: 1%; */
    justify-content: flex-end;
}
.right-wrapper .right-message {
    -webkit-box-shadow: -1px -1px 32px -4px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: -1px -1px 32px -4px rgba(0, 0, 0, 0.64);
    box-shadow: -1px -1px 32px -4px rgba(0, 0, 0, 0.64);
    width: auto;
    max-width: 80%;
    min-height: 42px;
    height: auto;
    line-height: 35px;
    background-color: gold;
    margin-right: 10px;
    border: 2px solid black;
    padding: 0 15px;
}
.right-wrapper .right-avatar {
    width: 42px;
    height: 42px;
}
.right-avatar img {
    width: 100%;
    height: 100%;
}