.dpn_chatbox{
    display: flex;
    flex-direction: column;
    border: 1px solid #00b6b6;
    border-radius: 10px;
    background-color: #f8fdfc;
    /*hide scrollbar in IE*/
    -ms-overflow-style:none;
    /*hide scrollbar in firwfox*/
    overflow-y:-moz-scrollbars-none;
}
.dpn-head{
    width: 100%;
    height: 12%;
    border-bottom:1px dashed #00b6b6;
    align-items: flex-end;
    /* display: flex; */
}
.dpn-title{
    color: #00b6b6;
    font-weight: 600;
    padding: 0 15px;
}
.dpn-content{
    width: 100%;
    height: 100%;
    padding-top: 2%;
    overflow-y: scroll;
}
/* 滚动条 */
.dpn-content::-webkit-scrollbar {
    width: 6px;
}
  
.dpn-content::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color:rgb(0,182,182,0.7);
}
/* left */
.left-wrapper{
    width: 70%;
    height: auto;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.left-time{
    color:  #00b6b6;
    font-size: 80%;
    margin-left: 70px;
}
.left-msgbox{
    width: 100%;
    height: auto;
    display: flex;
    padding: 0 15px;
    align-items: center;
}
.left-avatar{
    width: 42px;
    height: 42px;
    margin-right: 15px;
}
.left-avatar img{
    width: 100%;
    height: 100%;
}
.left-message{
    width: auto;
    height: auto;
    min-height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: 1px solid #00b6b6;
    border-radius: 5px;
    background:  #00b6b6;
    color: #f8fdfc;
    max-width: 70%;
    position: relative;
}
.left-message::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #00b6b6;
    top: 50%;
    left: -10px;
    transform: translateY(-59%);
}
.left-message-01{
    width: auto;
    height: auto;
    min-height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: 1px solid #00b6b6;
    border-radius: 5px;
    background-color:#f8fdfc ;
    color: #00b6b6 ;
    max-width: 70%;
    position: relative;
}
.left-message-01::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: -11px;
    transform: translateY(-50%);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 11px solid #00b6b6; 
}
.left-message-01::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #f8fdfc; 
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}
/* right */
.right-wrapper{
    width: 70%;
    height: auto;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    float: right;
}
.right-time{
    color:  #00b6b6;
    font-size: 80%;
    margin-right: 70px;
    text-align: end;
}
.right-msgbox{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.right-avatar{
    width: 42px;
    height: 42px;
    margin-left: 15px;
}
.right-avatar img{
    width: 100%;
    height: 100%;
}
.right-message{
    width: auto;
    height: auto;
    min-height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: 1px solid #00b6b6;
    border-radius: 5px;
    background:  #00b6b6;
    color: #f8fdfc;
    max-width: 70%;
    position: relative;
}
.right-message::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #00b6b6;
    top: 50%;
    right: -10px;
    transform: translateY(-59%);
}


/* 代码设置样式 */
.hide{
    display: none;
}
.show{
    display: flex;
}